[Desktop Entry]
Name=OneDrive Rclone GNOME
Comment=Montar OneDrive con rclone y mostrar indicador en GNOME
Exec=montar_onedrive.sh
Icon=onedrive.png
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
